- title("#{@recipe.name}")
.row
  .col-md-2.col-sm-3.col-xs-12
    = link_to image_tag("recipes/#{@recipe.image}"), asset_path("recipes/#{@recipe.image}"), class: "thumbnail img-responsive"
  .col-md-10.col-sm-9.col-xs-12
    .row.recipe-info-row
      .col-xs-12
        %h2
          = @recipe.name
    - unless @tags.size == 0
      .row
        .col-xs-12
          = "#{"Tag".pluralize(@tags.size)}: "
          - @tags.each_with_index do |tag,index|
            - unless index == 0
              |
            = link_to tag.name, recipes_path({t: tag.name})
    - unless @recipe.amount.blank?
      .row
        .col-xs-12
          = "Makes: #{@recipe.amount}"
    - unless @recipe.prep_time.blank? && @recipe.cook_time.blank?
      .row
        .col-xs-12
          - if !@recipe.prep_time.blank?
            = "Prep Time: #{@recipe.prep_time}#{@recipe.cook_time.blank? ? "" : ", Cook Time: #{@recipe.cook_time}"}"
          - elsif !@recipe.cook_time.blank?
            = "Cook Time: #{@recipe.cook_time}"
    - unless @recipe.source.blank?
      .row
        .col-xs-12
          Source:
          = link_to @recipe.source_base, @recipe.source
      - if @recipe.common_source_base
        .row
          .col-xs-12
            = link_to "Other recipes from #{@recipe.source_base}", recipes_path({s: @recipe.source_base})
.row
  .col-sm-4.col-xs-12
    %h4
      Ingredients
    %ul.list-group.ingredients-list
      - @recipe.ingredients.each do |ingredient|
        - if ingredient.last == ":"
          %li.list-group-item.active.ingredients-list-item
            %strong
              = ingredient
        - else
          %li.list-group-item.ingredients-list-item
            = ingredient
  .col-sm-8.col-xs-12
    .row
      .col-xs-12
        %h4
          Directions
        - @recipe.directions.each do |direction|
          %p
            - if direction.last == ":"
              %strong
                = direction
            - else
              = direction
    - unless @recipe.notes.blank?
      .row
        .col-xs-12
          %h4
            Notes
          - @recipe.notes.each do |note|
            %p
              - if note.last == ":"
                %strong
                  = note
              - else
                %span.note-content
                  = note
    - unless @recipe.nutrition.blank?
      .row
        .col-xs-12
          %h4
            Nutrition
          - @recipe.nutrition.each do |nutrition|
            %p= nutrition
