- title("#{@recipe.name}")

.row
  .col-sm-2
    = link_to image_tag("recipes/#{@recipe.image}"), asset_path("recipes/#{@recipe.image}"), class: "thumbnail img-responsive"
  .col-sm-10
    .row
      %h2
        = @recipe.name
    - unless @recipe.tags.blank?
      .row
        = "#{"Category".pluralize(@recipe.tags.count)}: "
        - @recipe.tags.each_with_index do |tag,index|
          - unless index == 0
            |
          = link_to tag, recipes_path({t: tag})
    - unless @recipe.amount.blank?
      .row
        = "Makes: #{@recipe.amount}"
    - unless @recipe.prep_time.blank? && @recipe.cook_time.blank?
      .row
        - if !@recipe.prep_time.blank?
          = "Prep Time: #{@recipe.prep_time}#{@recipe.cook_time.blank? ? "" : ", Cook Time: #{@recipe.cook_time}"}"
        - elsif !@recipe.cook_time.blank?
          = "Cook Time: #{@recipe.cook_time}"
    - unless @recipe.source.blank?
      .row
        From:
        = link_to @recipe.source, @recipe.source
.row
  .col-sm-4
    %h4
      Ingredients
    %ul.list-group.ingredients-list
      - @recipe.ingredients.each do |ingredient|
        %li.list-group-item.ingredients-list-item= ingredient
  .col-sm-8
    .row
      %h4
        Directions
      - @recipe.directions.each do |direction|
        %p= direction
    - unless @recipe.notes.blank?
      .row
        %h4
          Notes
        - @recipe.notes.each do |note|
          %p= note
    - unless @recipe.nutrition.blank?
      .row
        %h4
          Nutrition
        - @recipe.nutrition.each do |nutrition|
          %p= nutrition
